.form{
.form-content{
    p{
        color:$blue-900;
        font-weight: 700;
        font-size:1.8rem;
        margin-bottom:1.5rem;
    }
    form{
        p{
            color: $grey-500;
            font-weight: 400;
            font-size: 1rem;
            margin-top:0.5rem;
        }
        span{
            color: $blue-900;
            font-weight: 600;
        }
        button,a{
            margin-top:1rem;
            
        }
        .form-group{
            .error{
                border: 1px solid #a94442;
                border-radius:$rounding;
                p{
                   color: #a94442;
                   padding:0 10px;;
                }


            }
        }
    }
}
.form-side{
    background-color: $blue-900;
    height: 100vh;
    
    p{
        color: $white-blueish-text;
        font-size: 4rem;

    }
}
}

