/* 
 * Customize Bootstrap
*/
$white-pinkish-text: #e9dce2;
$white-blueish-text: #E5EAEB;
$white-active-text: #ffffff;

$grid-columns: 12;
$grid-gutter-width: 96px;
$quote-text:#B6B1B1;
$info:#756d71;
$grey-500:#8C8989;
$primary: #d12477;
$primary-100:#F1C4DA;
$secondary: #2459eb;
$blue-500: #5f86f1;
$blue-900:#163ba1;
$light:#DFE3E4;
$background:#F8FBFC;

$rounding: 10px;